{% extends 'base.html' %}
{% block content %}
    <div class="container m-5">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Дата прибытия</th>
                <th scope="col">Единицы измерения</th>
                <th scope="col">Имя поставщика</th>
                <th scope="col">Цена</th>
            </tr>
            </thead>
            <tbody>
            {% for item in shop_items %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.receipt_date|date:'d M Y' }}</td>
                    <td>{{ item.item_unit }}</td>
                    <td>{{ item.vendor_name }}</td>
                    <td>{{ item.price }}</td>
                </tr>


            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}